<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Certificate Details</h1>
    <p>Certificate ID: {{ certificate.id }}</p>
    <p>Certificate Name: {{ certificate.name }}</p>
    <p>Certificate Date: {{ certificate.date }}</p>
    <a href="{% url 'download_pdf' certificate.pk %}"><button>Download the certificate</button></a>
    <a href="{% url 'send_certificate_email' certificate.pk %}"><button>Send mail</button></a>
</body>
</html>