<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: "Poppins", sans-serif;
            background: #f4f3ff;
        }

        .message-container {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    </style>

</head>
<body>
    {% include 'partials/header.html' %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html> 