{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Movie Data</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>MOVIE FORM</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label>Enter the movie name: </label>
        {{ form.movie_name }}<br>
        {{ form.movie_name.errors }}

        <label>Enter the release year: </label>
        {{ form.release_year }}<br>
        {{ form.release_year.errors }}

        <input type="submit" value="submit">
    </form>
</body>
</html>
