<!-- <!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>{{ email }}</h2>
    <table>
    {% for x,y in formData.items %}
     <tr>
         <td>{{ x }}</td>
         <td>:</td>
         <td>{{ y }}</td>
     </tr>
    {% endfor %}
    </table>
</body>
</html> -->
<!-- 
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <p>{{ message }}</p>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <p>{{ message }}</p>
    <table>
        <tr>
            <td>id: </td>
            <td>{{ customer.id }}</td>
        </tr>
        <tr>
            <td>email: </td>
            <td>{{ customer.email }}</td>
        </tr>
        <tr>
            <td>password: </td>
            <td>{{ customer.password }}</td>
        </tr>
    </table>
    </body>
</html>