<!DOCTYPE html> 
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data Form</title>
</head>
<body>
    <h1>User form</h1>
    <form method="POST" action="/result/">
    {% csrf_token %}
    <label>Enter your name: </label><br>
    <input type="text" name="name" required><br>
    <label>Enter your favourite color: </label><br>
    <input type="text" name="color" required><br>
    <button type="submit" value="Submit">Submit</button>
    </form>

</body>
</html>