<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'partials/navbar.html'%}
    {% if user.is_authenticated %}
    <p>You are currently logged in as {{user.username}}</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
    {% else %}
        <P>You are not currently logged in.</P>
    {% endif %}
</body>
</html>