body {
  font-family: Arial, sans-serif;
  padding: 40px;
  text-align: center;
  background-color: antiquewhite;
}
.btn {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: rgb(165, 152, 222);
  color: white;
}
h3{
  size: 20px;
  color: red;
}