{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Gallery Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>My Image Gallery</h1>
    <div class="gallery-row">
        <div class="gallery-item">
            <img src="{% static 'images1.jpeg' %}" alt="Image 1" height="200px" width="150px">
            <div class="caption">Venice-City of water</div>
        </div><br>
        <div class="gallery-item">
            <img src="{% static 'images2.jpg' %}" alt="Image 2" height="200px" width="150px">
            <div class="caption">Santorini-The blue island</div>
        </div><br>
        <div class="gallery-item">
            <img src="{% static 'images3.jpg' %}" alt="Image 3" height="200px" width="150px">
            <div class="caption">Paris-City of light</div>
        </div>
    </div>
    <script src="{% static 'javascript.js' %}"></script>
</body>
</html>

    